*{
    margin:0;padding:0;box-sizing: border-box;text-decoration: none; list-style : none;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --color-black-1 : #090909;
    --color-orange-1 : #ff9c08;
    --color-white-1 : #f0ece8;
    --color-gray-1 : #6e6e6e;
    --color-white-2 : #fef9f2;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: .1rem 0 ;
}
button {
    border: none;
    cursor: pointer;
}

h2{
    font-size: 3.75rem; // 60px
    line-height: 5rem;
}
p {
    font-size: 1.5rem; // 24px
    line-height: 2.5rem; // 40px
    color: var(--color-gray-1);
}
.text-orange-1{
    color: var(--color-orange-1);
}


.btn-orange {
    color : var(--color-black-1);
    background-color: var(--color-orange-1);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}
.btn-white{
    color : var(--color-black-1);
    background-color: #fff;
    border  : 1.5px solid var(--color-white-1);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}


nav {
    color : var(--color-black-1);
    .container {
        padding:  1rem 0 ;
        .row{
            display: flex;
            justify-content: space-between;
            .left-column {
                display: flex;
                align-items: center;
                .brand {
                    display: flex;
                    align-items: center;
                    img {
                        width: 36px;
                        margin-right: 1rem;
                    }
                    .text {
                        
                    }
                }
                .links {
                    display: flex;
                    margin-left: 1.25rem;
                    li {
                        padding: .75rem 1rem;
                            a{
                            color : #090909;
                        }
                    }
                }
            }
            .right-column{
                display: flex;
                align-items: center;
                .bag {
                    margin-right: 1.5rem;
                    position: relative;
                    img {
                        width: 24px;
                    }
                    .badge{
                        top : 18px;
                        left : -12px;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-color: var(--color-orange-1);
                        color : #fff;
                        display: grid;
                        place-items: center;
                    }

                }
                .donate{
                    button {
                        color : var(--color-black-1);
                        background-color: var(--color-orange-1);
                        padding: 1rem 1.5rem;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

section.hero{
    .container{
        .row{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 2rem;
            align-items: center;
            .left-column{
                .heading{}
                .subheading{
                    margin-bottom: 1.5rem;
                }
                .actions {
                    button {
                        margin-right: 1rem;
                    }
                }
                
            }  
            .right-column {
                img {width: 100%;}
            }
        }
    }
}


section.stat{
    background-color: var(--color-white-2);
    margin-top: -2rem;
    .container{
        padding: 5rem 0 ;
        .row {
            display: flex;
            justify-content: space-between;

        }
    }
}

section.about {
    background-color: var(--color-white-2);
    padding: 4rem 0 ;
    .container{
        & > .heading {
            margin-bottom: 2rem;
        }
        .row1 {
            display: flex;
            justify-content: space-between;
            .left-column {
                max-width: 40%;
                .heading {
                    font-size: 2rem;
                    line-height: 2.75rem;

                }
            }
            .right-column {
                button {
                    margin-right: .75rem;
                }
            }
        }
        .row2{
            margin-top: 1.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            figure {
                margin-bottom: 1.5rem;
            }
            .right-column{
                ul.list {
                    margin-top: 1.5rem;
                    li {
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}


section.result {
    padding: 4rem 0 ;
    .container{
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
             & > .left-column {
                & >.text {
                    margin-bottom: 1.5rem;
                }
                & > .heading{
                    margin-bottom: 1.5rem;
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }
                & >.row {
                    margin-bottom: 4rem;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 1.5rem;
                    & > .column {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        figure {
                            // background-color: black;
                        }
                        .info {
                            .heading {
                                font-size: 2rem;
                            }
                        }
                    }
                }
                & > .actions {
                    
                }
            }
        }
    }
}