* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-black-1: #090909;
  --color-orange-1: #ff9c08;
  --color-orange-2: #ffd4a4;
  --color-white-1: #f0ece8;
  --color-gray-1: #6e6e6e;
  --color-white-2: #fef9f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.1rem 0;
}

button {
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 3.75rem;
  line-height: 5rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.33rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-gray-1);
}

.text-orange-1 {
  color: var(--color-orange-1);
}

.btn-orange {
  display: inline-block;
  color: var(--color-black-1);
  background-color: var(--color-orange-1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.125rem;
}

.btn-white {
  display: inline-block;
  color: var(--color-black-1);
  background-color: #fff;
  border: 1.5px solid var(--color-white-1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.125rem;
}

.btn-black {
  color: var(--color-white-1);
  background-color: var(--color-black-1);
  border: 1.5px solid var(--color-white-1-);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.125rem;
}

nav {
  color: var(--color-black-1);
}
nav .container {
  padding: 1rem 0;
}
nav .container .row {
  display: flex;
  justify-content: space-between;
}
nav .container .row .left-column {
  display: flex;
  align-items: center;
}
nav .container .row .left-column .brand {
  display: flex;
  align-items: center;
}
nav .container .row .left-column .brand img {
  width: 36px;
  margin-right: 1rem;
}
nav .container .row .left-column .links {
  display: flex;
  margin-left: 1.25rem;
}
nav .container .row .left-column .links li {
  padding: 0.75rem 1rem;
}
nav .container .row .left-column .links li a {
  color: #090909;
}
nav .container .row .right-column {
  display: flex;
  align-items: center;
}
nav .container .row .right-column .bag {
  margin-right: 1.5rem;
  position: relative;
}
nav .container .row .right-column .bag img {
  width: 24px;
}
nav .container .row .right-column .bag .badge {
  top: 18px;
  left: -12px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-orange-1);
  color: #fff;
  display: grid;
  place-items: center;
}
nav .container .row .right-column .donate button {
  color: var(--color-black-1);
  background-color: var(--color-orange-1);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
}

section.hero .container .row {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  align-items: center;
}
section.hero .container .row .left-column .subheading {
  margin-bottom: 1.5rem;
}
section.hero .container .row .left-column .actions button {
  margin-right: 1rem;
}
section.hero .container .row .right-column img {
  width: 100%;
}

section.stat {
  background-color: var(--color-white-2);
  margin-top: -2rem;
}
section.stat .container {
  padding: 5rem 0;
}
section.stat .container .row {
  display: flex;
  justify-content: space-between;
}

section.about {
  background-color: var(--color-white-2);
  padding: 4rem 0;
}
section.about .container > .heading {
  margin-bottom: 2rem;
}
section.about .container .row1 {
  display: flex;
  justify-content: space-between;
}
section.about .container .row1 .left-column {
  max-width: 40%;
}
section.about .container .row1 .left-column .heading {
  font-size: 2rem;
  line-height: 2.75rem;
}
section.about .container .row1 .right-column button {
  margin-right: 0.75rem;
}
section.about .container .row2 {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
section.about .container .row2 figure {
  margin-bottom: 1.5rem;
}
section.about .container .row2 .right-column ul.list {
  margin-top: 1.5rem;
}
section.about .container .row2 .right-column ul.list li {
  line-height: 1.5rem;
}

section.result {
  padding: 4rem 0;
}
section.result .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
section.result .container .row > .left-column > .text {
  margin-bottom: 1.5rem;
}
section.result .container .row > .left-column > .heading {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
section.result .container .row > .left-column > .row {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
section.result .container .row > .left-column > .row > .column {
  display: flex;
  align-items: center;
  gap: 1rem;
}
section.result .container .row > .left-column > .row > .column .info .heading {
  font-size: 2rem;
}
section.video {
  background-color: var(--color-orange-2);
  color: var(--color-black-1);
  height: 800px;
  display: grid;
  place-items: center;
}
section.video .container-fluid {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.video .container-fluid .subheading {
  margin-bottom: 1rem;
}
section.video .container-fluid .heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-size: 3.5rem;
}
section.video .container-fluid .action button {
  margin-right: 0.5rem;
}

section.goal .container figure {
  transform: translate(0, -50%);
}
section.goal .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--color-white-1);
}
section.goal .container .row .column .heading {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
section.goal .container .row .column .text {
  color: var(--color-gray-1);
  font-size: 1.125rem;
}

section.help {
  padding: 6rem 0;
}
section.help .container .subheading {
  color: var(--color-orange-1);
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.3rem;
  text-transform: uppercase;
}
section.help .container .row-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}
section.help .container .row-1 .heading {
  font-size: 2.5rem;
  line-height: 3.5rem;
  max-width: 600px;
}
section.help .container .row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  padding: 0 0 8rem 0;
}
section.help .container .row-2 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2rem;
  border: 1px solid #F0ECE8;
  border-radius: 12px;
  box-shadow: 0px 2px 12px rgba(43, 43, 43, 0.06);
}
section.help .container .row-2 .box figure {
  margin-bottom: 1.5rem;
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--color-white-2);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
section.help .container .row-2 .box figure img {
  width: 100px;
  height: 100px;
}
section.help .container .row-2 .box .heading {
  margin-bottom: 0.75rem;
}
section.help .container .row-2 .box .text {
  text-align: center;
  font-size: 1.125rem;
}

section.testimonial {
  background: var(--color-white-2);
}
section.testimonial .container .row-1 {
  transform: translate(0, -50%);
  background: #FF9C08;
  border-radius: 40px;
  padding: 6rem 2rem;
}
section.testimonial .container .row-1 .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.testimonial .container .row-1 .content .heading {
  max-width: 500px;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
section.testimonial .container .row-1 .content .action a {
  margin-right: 0.75rem;
}
section.testimonial .container .row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  align-items: center;
}
section.testimonial .container .row-2 .info .subheading {
  color: var(--color-orange-1);
  font-size: 1.25rem;
  line-height: 1.3rem;
  margin-bottom: 1.25rem;
}
section.testimonial .container .row-2 .info .heading {
  margin-bottom: 1.5rem;
}

section.news {
  padding: 6rem 0;
  background-color: #e5e5e5;
}
section.news .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.news .container > .subheading {
  color: var(--color-orange-1);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
section.news .container > .heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
section.news .container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
section.news .container .row .card {
  padding: 1.75rem 2.25rem;
  transform: translate(0, -50%);
  width: 85%;
  background: #fff;
  border: 1px solid #F0ECE8;
  border-radius: 6px;
}
section.news .container .row .card .head {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
section.news .container .row .card .head .tag {
  padding: 0.5rem 0.75rem;
  margin-right: 1.25rem;
  border: 2px solid #f0ece8;
  border-radius: 6px;
  font-size: 1rem;
}
section.news .container .row .card .head .text {
  font-size: 1rem;
}
section.news .container .row .card .body {
  margin-bottom: 1rem;
}
section.news .container .row .card .body .heading {
  font-size: 1.5rem;
  line-height: 2.125rem;
}
section.news .container .action button {
  margin-right: 1rem;
}